@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rubik+Broken+Fax&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Rubik+Glitch&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class */
@layer components {
    .align-element {
        @apply mx-auto max-w-6xl px-8;
    }
}
